/* Stili di pagina generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-family: 'Lilita One', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* Stili header con il primo contenitore*/
.primary_container{
    text-align: center;
    margin: 40px 0;
}
.primary_container h1{
    font-weight: 900;
    font-size: 45px;
    color: #C71585;
    margin-bottom: 40px;
}
.primary_container p{
    margin: 40px 100px;
    text-align-last: center;
    font-weight: 500;
}

/* Stili del secondo contenitore */
.secondary_container{
    min-height: 100px ;
    margin: 0 110px;
}

/* Stili raw e colonna */
.row::after{
    display: table;
    content: "";
    clear: both;
}
.col{
    float: left;
    width: calc(100% / 3) - 25;
    background-color: black;
    margin-right: 25px;
    margin-bottom: 40px;
}
img{
    height: 100px;
    margin-right: 5px;
    display: block;
    float: left;
}
.testo{
    color: white;
    /* vertical-align: middle;
    line-height: 50px; */
    float: right;
    padding-right: 150px;
    padding-top: 5px;
    line-height: 1.6;
}
.testo a{
    color: #87CEFA;
    text-decoration: none;
}